<div class="container">
    <div class="row"><h1 class="col">Contact</h1></div>
    <hr>

    <div class="row text1"><div class="col"> LinkedIn: <a href="https://www.linkedin.com/in/michael-darocha/" target="_blank"><i class="bi bi-linkedin"></i></a></div></div>
    <br>
    <div class="row text1"><div class="col"> Personal Email: <a href="mailto:1michael.darocha@gmail.com">1michael.darocha@gmail.com</a> </div></div>
    <br>
    <div class="row text1"><div class="col"> School Email: <a href="mailto:mldaroch@uwaterloo.ca">mldaroch@uwaterloo.ca </a></div></div>
    <br>
    <div class="row text1"><div class="col"> Phone Number: <span style="color: #7393b3;">(647)-638-2991</span> </div></div>
</div>
