<div class="container">
    <div class="row"><h1 class="col">About</h1></div>
    <hr>

    <div class="row">
        <div class="col d-flex flex-wrap justify-content-around">

            <div class="card text-primary border-primary bg-dark mb-3" style="max-width: fit-content;">
                <div class="card-header text1 text-center">Education</div>
                <div class="card-body">
                    <p class="card-text">Student At: University of Waterloo</p>
                    <p class="card-text">Candidate For: Bachelor of Computer Science</p>
                    <p class="card-text">Expected Graduation Date: April 2023</p>
                </div>
            </div>

            <div class="card text-danger border-danger bg-dark mb-3" style="width: fit-content;">
                <div class="card-header text1 text-center">Experiences</div>
                <div class="card-body">
                    <p class="card-text">
                        Co-op Analyst – Systems Engineering <br>
                        Toyota Motor Manufacturing Canada<br>
                        Sep 2021 - Mar 2022
                    </p>
                    <p class="card-text">
                        Engineering Undergraduate Research Assistant – Blockchain Application Developer<br>
                        University of Waterloo<br>
                        Jan 2021 - Apr 2021
                    </p>
                </div>
            </div>

            <div class="card text-warning border-warning bg-dark mb-3 text-center" style="width: fit-content; max-height:fit-content">
                <div class="card-header text1">Interests</div>
                <div class="card-body">
                    <p class="card-text">
                        Artificial Intelligence<br>
                        Operating Systems<br>
                        Web Technologies<br>
                        Software Design<br>
                        VR Technology<br>
                    </p>
                </div>
            </div>

            <div class="card text-success border-success bg-dark mb-3" style="width: fit-content;">
                <div class="card-header text1 text-center">Languages</div>
                <div class="card-body">
                    <p class="card-text">
                        C, C++, C#, Java, <br> Python, TypeScript, JavaScript, <br> SQL, HTML, CSS, Bash
                    </p>
                </div>
            </div>

            <div class="card text-info border-info bg-dark mb-3" style="width: 18rem;">
                <div class="card-header text1 text-center"> Hobbies </div>
                <div class="card-body">
                    <p class="card-text">
                        During my free time I enjoy spending time with family, playing with my dog, watching hockey and playing video games. Occasionally I enjoy traveling.
                    </p>
                </div>

            </div>
        </div>
    </div>    
</div>