<div class="container">
    <div class="row">
        <div class="col">
            <div id="content">
                <h1 class="text4"> Michael DaRocha </h1>
                <p>Computer Science Major at the University of Waterloo</p>
                <p>Fourth Year Student</p>
                <p>Looking for a Four Month Co-op Term Starting September 2022</p>
            </div>
        </div>

        <div class="col">
            <img src="../../../assets/me.jpg" alt="Picture of Michael DaRocha">
        </div>
    </div>
</div>
